.HomeAdmin {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    color: black;
    display: flex;
    border-radius: 18px 15px 15px 18px;
    margin: 40px auto;
}

.row {
    width: 100%;
}

.header {
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.title {
    padding-left: 10px;
    font-size: 40px;
}

.header_btns {
    display: flex;
    align-items: center;
    gap: 20px;
}



.search_btn {
    padding: 10px;
    border: 1px solid #7d7d7d;
    border-radius: 50%;
}

.search_btn path {
    fill: #000;
}

.login_block {
    display: flex;
    justify-content: flex-end;
}

.login {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 3px solid #7d7d7d;
    border-radius: 10px;
    cursor: pointer;
}

.login path {
    fill: #7d7d7d;
}

.login svg {
    height: 30px;
    width: 30px;
    margin: 0 auto;
}

.login:hover {
    border: 3px solid #3b3b3b;
}

.login:hover path {
    fill: #3b3b3b;
}
