.Btn {
  @apply flex items-center justify-center font-bold w-[100%] gap-[10px] p-[15px] bg-[#1f1b2e] rounded-[10px] mx-auto cursor-pointer text-[#ffffff] hover:bg-[#2e2844] transition-all;
  .ico {
    @apply w-[20px] h-[20px] rounded-[50%] bg-[#c0c0c2];
  }
}

.content {
  display: flex;
  flex-direction: column;
  line-height: 13px;
}

.preamble {
  color: #ffffffb8;
  font-size: 10px;
}