.footer {
  @apply h-[548px];
  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.28);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.container {
  @apply max-w-[1216px] my-0 mx-auto;

  .row {
    @apply flex justify-between py-[48px] px-0;
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.28);
  }
}

.column {
  @apply flex flex-col gap-[9px] box-border px-[12px] w-[25%] leading-[19px];
  & .title {
    @apply text-white font-bold;
  }

  & .link:hover {
    @apply text-white;
    transition: all 0.4s;
  }

  & .gradient {
    background-image: linear-gradient(-45deg, #c447ff, #ea003d);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
.description_block {
  @apply mb-[20px];
  color: rgba(255, 255, 255, 0.48);
  line-height: 19px;
}

.support_block {
  @apply flex flex-col;
}

.chat {
  @apply w-[196px] mb-[12px];
}

.chat_btn {
  @apply h-[40px] w-[196px];
}

.contact__icons {
  @apply flex w-[30%] gap-[12px] mb-[24px];
}

.contact_btn {
  @apply p-[12.5px];
}

.ask_block {
  @apply flex flex-col;
}
.ask_text {
  @apply text-white leading-[17px];
  font-size: 16px;
}
.footer__widget {
  @apply flex flex-col gap-[24px] w-[286px];
  .footer_widget_text {
    @apply text-center text-[#a5a1b2];
  }
  & .image_wrap {
    @apply w-[104px] h-[104px] p-[24px] my-0 mx-auto rounded-[20px];
    background: linear-gradient(180deg, #a869f0 0%, #834cc2 100%);
    box-shadow: 0px 0px 104px #a869f0;
  }
  & .image_wrap svg {
    @apply w-[56px] h-[56px];
  }
}

.subFooter {
  @apply flex mt-[47px] mb-[47px];

}

.stores {
  @apply flex flex-col w-[50%];
}

.overturn {
  @apply flex justify-between mb-[32px];
}

.overturn_btn {
  @apply p-[15px] h-[40px];
}

.copyrights_block {
  @apply text-[#ffffff7a] leading-[18px];
}

.community {
  @apply flex w-[50%] gap-[12px] justify-end;
}

.preamble_class {
  @apply text-[#ffffffb8];
  font-size: 10px;
}

.social {
  @apply rounded-[50%] p-[12.5px];
}

.overturn_btn_wrap svg {
  @apply h-[20px] w-[20px];
}

@media (max-width: 1160px) {
  .container {
    @apply max-w-[1075px];
  }
  .footer {
    @apply hidden;
  }
}
