.promoSection {
  @apply relative h-[42vw] md:h-[28.9vw] xl:h-[370px] max-h-[370px];

  @media(max-width:1150px) {
    @apply mt-[72px];
  }
}

.subscribeSection {
  @apply pb-0;
}

.descriptionTitle {
  @apply mb-[12px];
}

.titleTop10 {
  @apply inline-flex items-center;

  svg {
    @apply w-[116px] h-[28px];
  }
}

.textTop10 {
  @apply ml-[10px];
}

.top10Container {
  @apply relative mr-[-24px];
}

.top10SliderNext {
  right: 24px!important;
}

.top10SliderWrapper {
  margin: -20px -12px!important;
  padding: 20px 12px!important;
}
