.cardContainer {
  @apply relative flex flex-col rounded-default;

  transform-origin: 50% 50%;
}

.title {
  @apply order-2 overflow-hidden h-[20px] leading-[20px]
  font-semibold text-light whitespace-nowrap text-ellipsis
  duration-[200ms];
}

.cardContainer:hover .title {
  @apply text-white;
}

.filmBadge {
  @apply absolute top-[4px] left-[-4px] z-20;
}

.card {
  @apply z-0 order-1 relative mb-[8px] pb-[153.5%]
  bg-backgroundSecondary rounded-default transition-transform w-full;

  transform-origin: 50% 100%;
}

.cardContainer:hover:not(:active) .card {
  @apply lg:scale-[1.04] lg:translate-y-0 lg:z-10 duration-[80ms];
}

.cardContainer:not(:hover):not(:active) .card {
  @apply duration-[400ms];
}

.poster,
.info {
  @apply absolute z-0 top-0 right-0 bottom-0 left-0 rounded-default;
}

.poster {
  @apply scale-100 translate-y-0;

  img {
    @apply absolute w-full h-full rounded-default object-cover;

    will-change: transform;
    transform-origin: 50% 100%;
  }
}

.cardContainer:hover .poster {
  @apply z-10;
}

.ageBadge {
  @apply absolute bottom-[4px] right-[4px];
}

.info {
  @apply hidden lg:block text-[13px] leading-[1.2] text-light
  bg-[#07050e]/80 opacity-0 transition-opacity duration-[200ms];
}

.cardContainer:hover .info {
  @apply z-10 opacity-100;
}

.tools {
  @apply absolute z-50 top-[16px] right-[16px] opacity-0 transition-opacity duration-[1000ms];

  will-change: opacity;
}

.cardContainer:hover .tools {
  @apply opacity-100 duration-[1000ms];
}

.infoProperties {
  @apply absolute right-[16px] bottom-[16px] left-[16px];
}

.rating {
  @apply mb-[12px];
}

.infoRow {
  @apply mt-[4px] line-clamp-2 text-ellipsis;
}
