.tooltip {
    position: relative;
    animation-name: appear;
    animation-duration: 300ms;
  }
 .tooltiptext {
    color: #fff;  
    cursor: pointer;
  }
  
  .tooltiptext:hover {
    color: #c4c4c4;
    transition: all 0.4s;
}
