.HomeAdmin {
    width: 100%;
    background-color: #fff;
    color: black;
    display: flex;
    border-radius: 18px 15px 15px 18px;
    margin: 40px auto;
}

.row {
    width: 100%;
}

.header {
    padding: 25px 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.title {
    padding-left: 10px;
    font-size: 40px;
}

.header_btns {
    display: flex;
    align-items: center;
    gap: 20px;
}

.add_btn {
    color: #fff;
    background-color: #4040f2;
    padding: 10px 15px;
    border-radius: 15px;
}

.search_btn {
    padding: 10px;
    border: 1px solid #7d7d7d;
    border-radius: 50%;
}

.search_btn path {
    fill: #000;
}
