.button {
  @apply flex items-center justify-center gap-[10px] mx-auto p-[15px]
  text-mobile lg:text-default font-semibold text-white bg-purpleDark rounded-default cursor-pointer
  hover:bg-purpleDarkLighter transition-all;

  &.red {
    @apply bg-red hover:bg-redHover;
  }
  &.grey {
    @apply bg-backgroundLight hover:bg-[#433b5d];
  }
  &.blue {
    @apply bg-purpleDark hover:bg-backgroundLight;
  }
  &.borderGray {
    @apply block w-full py-[13px] px-[15px] bg-transparent border border-separator;

    &:hover:not(:active) {
      @apply border-white duration-[80ms];
    }

    &:not(:hover):not(:active) {
      @apply border-separator duration-[400ms];
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  line-height: 13px;
}

.preamble {
  color: #ffffffb8;
  font-size: 10px;
}

.small {
  font-size: 13px;
  color: #ffffffb7;
}
