.button {
  @apply flex items-center justify-center gap-[10px] mx-auto p-[15px]
  text-mobile lg:text-default font-semibold text-white bg-purpleDark rounded-default cursor-pointer
  hover:bg-purpleDarkLighter transition-all;

  &.red {
    @apply bg-red hover:bg-redHover;
  }
  &.grey {
    @apply bg-[#312b45] hover:bg-[#433b5d];
  }
  &.blue {
    @apply bg-[#1f1b2e] hover:bg-[#312b45];
  }
}

.content {
  display: flex;
  flex-direction: column;
  line-height: 13px;
}

.preamble {
  color: #ffffffb8;
  font-size: 10px;
}

.small {
  font-size: 13px;
  color: #ffffffb7;
}
