.head_row {
  @apply flex w-full justify-between text-center p-[10px] bg-[#fafafa]
  border-b-[1px] border-solid border-[#d7d5d5];
}

.add_btn_block {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
.add_btn {
  color: #fff;
  font-weight: 600;
  background-color: #4040f2;
  padding: 10px 15px;
  border-radius: 15px;
}

.add_btn:hover {
  background-color: #3535cd;
}
.head_title,
.body_title {
  @apply w-full;
}

.checkbox {
  @apply mr-[20px];
}

.body_column {
  @apply flex w-full justify-between items-center text-center p-[10px] bg-[#fafafa] min-h-[80px]
  border-b-[1px] border-solid border-[#d7d5d5];
}
