.wrapper {
  @apply bg-[#100e19] text-white max-w-full pb-[50px] cursor-default;
  &Main {
    @apply max-w-[1100px] my-0 mx-auto;
  }
  .mainHeader {
    @apply flex justify-between mb-[50px] pt-[20px];
    .breadcramps {
      span {
        @apply m-[10px] cursor-pointer opacity-[.6];
      }
      span:hover {
        @apply opacity-[1] text-white;
      }
    }
    .mainBtn {
      button {
        @apply m-[10px] py-[10px] px-[20px] rounded-[10px] bg-[#d72e43];
      }
      button:nth-child(1) {
        @apply bg-[#7c798c];
      }
    }
  }
}

.main {
  @apply flex justify-between gap-[130px] mb-[30px] flex-wrap max-w-[100%] ml-0 pl-0;
  &Left {
    @apply max-w-[500px];
    &Wrapper {
      position: sticky;
      top: 20px;
    }
    &Video {
      @apply bg-[#636363] mb-[10px] w-[600px] h-[350px];
    }
    &Video:hover {
      @apply bg-[#2b2b2b];
    }
    .mainBlockButton {
      @apply flex gap-[20px];
    }
  }
  .mainRight {
    @apply max-w-[400px];
    h1 {
      @apply text-4xl text-center mb-[15px];
    }
    &MetaData {
      @apply mb-[20px];
    }
    &Actiros {
      @apply flex gap-[10px] mb-[60px];
    }
    &Description {
      @apply text-xs font-thin mb-[30px];
    }
    &MetaDataButtom {
      @apply text-[#a1a1a1] text-xs font-thin mb-[30px];
    }
    &Budges {
      @apply flex gap-[10px] mt-[10px];
    }
    &RaitingIvi {
      @apply max-w-[100%] bg-[#222129] max-w-[100%] bg-[#222129] rounded-[10px]
        p-[10px] flex gap-[10px] items-center;
      &Badge {
        @apply w-[50px] h-[50px] bg-[#7da243] rounded-[5px] pt-[13px] text-center
        gap-[10px] justify-between;
      }
      button {
        @apply rounded-[5px] p-[5px];
        border: 1px solid #7c798c;
      }
    }
  }
}

.actorSection {
  h3 {
    @apply text-3xl mb-[20px];
  }
  .actors {
    @apply flex gap-[20px] ml-[30px];
  }
}

.line {
  @apply mb-[5px];
  border-bottom: 1px solid rgb(72, 72, 72);
}

.pageSection {
  @apply py-[24px];
}

.titleLink {
  @apply relative inline-flex justify-start pr-[14px] text-white;

  &::after {
    @apply absolute top-[6px] right-[0] bottom-[0] w-[6px] h-[16px] my-auto content-[""]
    bg-[url('/svg/arrow-right.svg')] bg-no-repeat;
  }
}

.collectionTitle {
  @apply mb-[24px];
}

.close {
  height: 200px;
  overflow: hidden;
}