@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  html,
  body {
    @apply min-h-screen m-0 p-0;
  }

  html {
    @apply text-base text-primary font-sans font-normal not-italic;
  }

  body {
    @apply flex flex-col w-full h-full bg-background;
  }

  #__next {
    @apply flex flex-col grow md:px-default sm:px-mobile;
  }

  main {
    @apply grow;
  }

  a {
    @apply text-link no-underline;
  }

  input,
  textarea {
    @apply rounded-none;

    &::placeholder {
      @apply opacity-100;
    }

    &:invalid {
      @apply shadow-none;
    }
  }

  select {
    @apply rounded-none;
  }
}

@layer components {
  .main-container {
    @apply flex flex-col grow mx-auto my-0;

    min-width: theme("width.mobile");
    max-width: theme("width.desktop");
    width: 1216px;
    min-height: calc(100vh - 548px);
  }
}

@media (max-width: 1160px) {
  .main-container {
    width: 100%;
    max-width: 1075px;
  }
}
