.container {
  @apply max-w-[1216px] my-[0] mx-auto;
  // position: relative;
  z-index: 15;
}

.row {
  @apply h-[72px] flex flex-row justify-between;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 1115;
}

.menu {
  @apply flex flex-row items-center gap-[30px];
  
}

.logo {
  @apply cursor-pointer;
  // position: relative;
  z-index: 15;
}

.listItem {
  @apply flex gap-[30px];
  
}






.section {
  width: 100%;
  z-index: 0;

}

.navigation {
  // position: relative;
  // z-index: 15;
}

.DropDownBody {
  opacity: 0;
  animation: ani 0.4s forwards;
  height: 480px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: -15px;

}

.menu_block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.48);
  background-color: #1f1b2e;
  width: 1245px;
  height: 500px;
  border-radius: 12px;
  
}

.menuT {
  
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 80px;
  border-top: 1px solid rgba(255, 255, 255, 0.196);
  max-width: 100%;
}

.menuTitle {
  width: 381px;
  color: #ffffff;
}

.menuItem:hover {
  @apply text-white;
  transition: all 0.4s;
}

.listItem {
  @apply flex gap-[16px];
  // position: relative;
  
}

.link {
  @apply cursor-pointer;
  color: rgba(255, 255, 255, 0.48);
  font-size: 15px;
  font-weight: 600;
}

.text {
  display:block;
  position: relative;
  z-index: 999;
}

.link:hover {
  @apply text-white;
  transition: all 0.4s;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}










.link,
.btn__subscribe,
.btn__search {
  @apply cursor-pointer;
  // position: relative;
  z-index: 15;
  color: rgba(255, 255, 255, 0.48);
  font-size: 15px;
  font-weight: 600;
}
.btn__notify {
  // position: relative;
  z-index: 15;
}
.btn {
  &__subscribe {
    @apply text-white py-[8.5px] px-[12px] rounded-[8px] text-xs font-semibold;
    background: rgb(214, 36, 158);
    background: linear-gradient(
      90deg,
      rgba(214, 36, 158, 1) 0%,
      rgba(196, 71, 255, 1) 0%,
      rgba(232, 0, 60, 1) 74%
    );
  }
  &__search {
    @apply flex gap-[5px];
  }

  &__avatar {
    @apply rounded-[8px] py-[12px] px-[11px];
    border: 2px solid rgba(255, 255, 255, 0.48);
    // position: relative;
    z-index: 15;
    &:hover {
      border-color: #ffffff;
      transition: all 0.4s;
      -webkit-box-shadow: 0px 3px 5px 5px rgba(255, 255, 255, 0.1);
      -moz-box-shadow: 0px 3px 5px 5px rgba(255, 255, 255, 0.1);
      box-shadow: 0px 3px 5px 5px rgba(255, 255, 255, 0.1);
    }
  }
}

.link:hover,
.btn__subscribe:hover,
.btn__search:hover {
  @apply text-white;
  transition: all 0.4s;
}

.userBlock {
  @apply flex gap-[30px] items-center;
}

 .btn__avatar path {
  fill: rgb(255, 255, 255, 0.48);
}

.btn__avatar svg {
  width: 20px;
  height: 20px;
}

.btn__avatar:hover path {
  fill: rgb(255, 255, 255, 1);
  transition: all 0.4s;
}

.btn__search path,
.btn__notify path {
  fill: rgb(255, 255, 255, 0.48);
}

.btn__search:hover path,
.btn__notify:hover path {
  fill: rgb(255, 255, 255, 1);
  transition: all 0.4s;
}

.imgWrapper:only-child {
  @apply mt-[2px];
}
